body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(24, 24, 24);
}

.header {
  color: rgb(110, 115, 121);
  font-size: 2rem;
  display: flex;
}

.nav {
  margin: 2rem;
  caret-color: transparent;
}

.nav:hover {
  color: aliceblue;
}

.mozgimg {
  width: 2rem;
  height: 2rem;
}

.plansza {
  display: flex;
  flex-wrap: wrap;
  max-width: 18rem;
  margin-bottom: 5rem;
}

.pole {
  background-color: #2f2f2f;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 2rem;
  color: aliceblue;
  caret-color: transparent;
}

.startdiv {
  display: flex;
  text-align: center;
}

.start {
  background-color: rgb(80, 86, 92);
  color: rgb(217, 223, 228);
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 1.4rem;
  margin: 1rem;
  caret-color: transparent;
}

.wynik {
  background-color: rgb(80, 86, 92);
  color: rgb(217, 223, 228);
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 1.4rem;
  margin: 1rem;
  caret-color: transparent;
}

.pozycja {
  background-color: rgb(80, 86, 92);
  color: rgb(217, 223, 228);
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 1.4rem;
  margin: 1rem;
  caret-color: transparent;
  display: none;
}

.litera {
  background-color: rgb(80, 86, 92);
  color: rgb(217, 223, 228);
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 1.4rem;
  margin: 1rem;
  caret-color: transparent;
  display: none;
}

/* // */
/* // */
/* Modal popup */

.modal-bg,
.modal-bg-mistrz,
.modal-bg-zasady,
.modal-bg-ustawienia {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background: #2f2f2f;
  width: 60%;
  max-height: 60%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  color: rgb(217, 223, 228);
  padding: 3rem;
  text-align: justify;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 3rem;
}

.opis {
  font-size: 1.4rem;
}

.modal h1 {
  font-size: 2.5rem;
}

input[type="number"] {
  width: 6%;
  text-align: center;
  font-size: 1.3rem;
}

input[type="checkbox"] {
  transform: scale(2);
  margin-left: 1rem;
}
